body {
    font-family: 'Montserrat', sans-serif;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #F5F7FA;
    width: 1200px;
    margin: 0 auto;
}

/* main_content */
.main_content {
    background-color: #FFFFFF;

}

.title_projects {
    
}

/* about styles */

.about {
    

}

/* projects styles */

.projects {
    
}

/* work styles */

.work {
    
}

/* education styles */

.education {
   
}

/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
   
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}
/* стили для контента в sidebar */
.contacts,
.tech-skills,
.soft-skills {
    margin-left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

}

.contacts {
    margin-bottom: 50px;
}

.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;

}
/* отступы для списков */
.tech-skills-list {
    padding-left: 0;
    margin-left: 15px;
}

.soft-skills-list {
    padding-left: 0;
    margin-left: 15px;
}

.tech-skills-item {
    color: #FB6D3A;
}

.tech-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}